@{
    ViewData["Title"] = "Memeber";
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<main id="main">
    <section id="breadcrumbs" style="background: white" class="breadcrumbs">
        <div class="container">
        </div>
    </section>
    <section id="portfolio-details" class="portfolio-details">
        <div class="container" data-aos="fade-up">
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <div class="row gy-4">

                <div class="col-lg-4" data-aos="fade-left" data-aos-delay="100">

                    <img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" height="500" width="400" style="box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;">

                </div>

                <div class="col-lg-8" data-aos="fade-right" data-aos-delay="100">


                    <div class="portfolio-info" style="box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;">
                        <h3>Profil</h3>
                        <ul>
                            <li><strong> Firstname </strong>:   Admin  </li>
                            <li><strong> Lastname</strong>:    admin  </li>
                            <li><strong>Email </strong>:    ad@gmail.com   </li>
                            <li><strong> Phone Number  </strong>:   12345678 </li>
                            <li><strong>Job </strong>:  CEO  </li>

                        </ul>


                    </div>
                </div>


                <div class="swiper-pagination"></div>
            </div>
        </div>


        </div>

        </div>
    </section>

</main>
